body {
    font-family: "Poppins", sans-serif;
    color: #000000;
  }
  
  h1 {
      text-align: center;
  }
 
  h2{
    text-align: center;
  }

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}

#increment-button{
background-color: red;
margin: auto;
}

#save-button{
background-color: red;
}